<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>onlinejudge</display-name>
  <filter>
    <filter-name>teacher</filter-name>
    <filter-class>cn.acgucheng.onlinejudge.filter.IdentityValidator</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>teacher</filter-name>
    <url-pattern>/teacher/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>student</filter-name>
    <filter-class>cn.acgucheng.onlinejudge.filter.StudentValidator</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>student</filter-name>
    <url-pattern>/student/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
</web-app>